@model IEnumerable<Burger>
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />
<h1>Burger Menu</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12 text-end">
            <a asp-controller="Burger" asp-action="Create" class="btn btn-primary">
                Create new burger
            </a>
        </div>

    </div>

</div>

<table class="table table-bordered table-striped" style="width:100%" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Vegetarian</th>
            <th>Vegan</th>
            <th>Fries</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td >
                    @obj.Name
                </td>
                <td >
                    @obj.Price
                </td>
                <td >
                    @obj.IsVegetarian
                </td>
                <td >
                    @obj.IsVegan
                </td>
                <td >
                    @obj.HasFries
                </td>
                <td>
                 
                    <div class="d-flex justify-content-end w-75">
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" asp-controller="Burger" asp-action="Edit" asp-route-id="@obj.Id">
                                Edit
                            </a>
                            <a class="btn btn-primary" asp-controller="Burger" asp-action="Delete" asp-route-id="@obj.Id">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </tbody>

</table>